@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};
  --selected-green: #{$lime-green};

  &.light {
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .sectionTitle {
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  .sectionSubtitle {
    font-size: $font-size-sm;
    font-style: italic;
    color: var(--font-color);
  }

  .options {
    display: grid;
    column-gap: 15px;
    align-items: center;
    padding-left: 10px;
    color: var(--font-color);

    span {
      color: var(--font-color);

      &[aria-disabled='true'] {
        color: var(--disabled);
      }
    }

    > span {
      text-align: center;
    }
  }

  .sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sliderLabel {
      font-size: $font-size-sm;
      font-weight: 600;
      color: var(--font-color);
      padding-left: 10px;
    }

    .sliderContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 20px;

      .slider {
        color: $brand-color-main;
      }

      .sliderValue {
        display: flex;
        align-items: center;
        gap: 10px;

        .sliderSection {
          flex-grow: 1;
          height: 4px;
          background: var(--border-color);
        }
      }
    }
  }

  button {
    width: 50%;
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    color: var(--save-button-text);
    background-color: var(--border-color);
    &:hover {
      background-color: var(--border-color-hover);
    }
  }
}
